<form action="/sushis" method="post">
    <input type="text" name="sushi[name]" />
    <input type="number" step="0.01" name="sushi[price]" />
    <% @ingredients_for_dropdown.each do |ingredient| %>
        <input type="checkbox" id="ingredient-<%= ingredient.id %>" name="sushi[ingredient_ids][]" value="<%= ingredient.id %>">
        <label for="ingredient-<%= ingredient.id %>"><%= ingredient.name %></label>
    <% end %>
    <input type="submit" />
</form>