<div>
Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %>
</div>
<div>
Patient: <%= link_to @appointment.patient.name, @appointment.patient %>
</div>
<div>
<%= @appointment.date %> at <%= @appointment.time %>
</div>