<h1>all the sushis</h1>

<% @categories.each do |category| %>
    <div>
    <h2><%= category.name %></h2>
    <% category.sushis.each do |sushi| %>
        <a href="/sushis/<%= sushi.id %>"><p><%= sushi.name %></p></a>
    <% end %>
    </div>
<% end %>