.App {
  display: flex;
}

.gamesList {
  width: 10rem;
}

.list > .item {
  border: black solid 1px;
  cursor: pointer;
  text-align: left;
  height: 2rem;
  line-height: 2rem;
  padding-left: 1rem;
}

.list > .item:hover {
  background: rgb(255, 255, 217);
}

.list > .item.inactive {
  cursor: auto;
}

.list > .item.inactive:hover {
  background: none;
}

.item > button {
  float: right;
  height: 100%;
  background: #ffc8c8;
  border: red solid 1px;
  cursor: pointer;
}

.item > button:hover {
  background: #ffb5b5;
}

.movesArea {
  padding-left: 3rem;
}